@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: url('./components/image/back.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 

}


.hover-border::after {
  content: "";
  position: absolute;
  bottom: 4px; 
  right: 4px; 
  width: calc(100% - 4px); 
  height: calc(100% - 4px); 
  border: 2px solid transparent; 
  z-index: -1;
  transition: border-color 0.2s; 
}

.hover-border:hover::after {
  border-color: #4299e1;
}
